<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@450&display=swap" rel="stylesheet">
<meta name="viewport" content="initial-scale=1">
<head>
  <title>Good News!</title>
</head>
<body style="padding: 30px; background-color: #ECECEC;">
<h1 style="font-size:3vw; font-family: 'Roboto Mono', monospace; color: #444444">
  some {algorithmically determined} good news from the past week:
</h1>
<br>
<div class='card-deck'>
  <div class="card">
    <img src={{ content.img1 }} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ content.title1 }}</h5>
      <p class="card-text">{{ content.desc1 }}</p>
      <a href={{ content.url1 }} class="btn btn-primary" target="_blank">Full Article [{{ content.source1 }}]</a>
    </div>
    <div class="card-footer text-success">
      <small>{{ content.sent1 }}</small>
    </div>
  </div>
  <div class="card">
    <img src={{ content.img2 }} class="card-img-top zoom" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ content.title2 }}</h5>
      <p class="card-text">{{ content.desc2 }}</p>
      <a href={{ content.url2 }} class="btn btn-primary" target="_blank">Full Article [{{ content.source2 }}]</a>
    </div>
    <div class="card-footer text-success">
      <small>{{ content.sent2 }}</small>
    </div>
  </div>
  <div class="card">
    <img src={{ content.img3 }} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ content.title3 }}</h5>
      <p class="card-text">{{ content.desc3 }}</p>
      <a href={{ content.url3 }} class="btn btn-primary" target="_blank">Full Article [{{ content.source3 }}]</a>
    </div>
    <div class="card-footer text-success">
      <small>{{ content.sent3 }}</small>
    </div>
  </div>
</div>
<br>

<div class='card-deck'>
  <div class="card">
    <img src={{ content.img4 }} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ content.title4 }}</h5>
      <p class="card-text">{{ content.desc4 }}</p>
      <a href={{ content.url4 }} class="btn btn-primary" target="_blank">Full Article [{{ content.source4 }}]</a>
    </div>
    <div class="card-footer text-success">
      <small>{{ content.sent4 }}</small>
    </div>
  </div>
  <div class="card">
    <img src={{ content.img5 }} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ content.title5 }}</h5>
      <p class="card-text">{{ content.desc5 }}</p>
      <a href={{ content.url5 }} class="btn btn-primary" target="_blank">Full Article [{{ content.source5 }}]</a>
    </div>
    <div class="card-footer text-success">
      <small>{{ content.sent5 }}</small>
    </div>
  </div>
  <div class="card">
    <img src={{ content.img6 }} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ content.title6 }}</h5>
      <p class="card-text">{{ content.desc6 }}</p>
      <a href={{ content.url6 }} class="btn btn-primary" target="_blank">Full Article [{{ content.source6 }}]</a>
    </div>
    <div class="card-footer text-success">
      <small>{{ content.sent6 }}</small>
    </div>
  </div>
</div>
<br>
<script>
window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#news';
        window.location.reload();
    }
}
</script>
<style>
.btn-primary:hover, .btn-primary:visited {
    color: #fff;
    background-color: #50C878;
    border-color: #50C878;
}
.card-body {
  background-color: ##ade6d8;
}
</style>
</body>
